
.container{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header{
    background-color: #343a40;
}
button{
    background-color: #343a40;
    color: white;
    
}

.card-heading{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}