            
        <div class="container">
            <!-- USER FORM -->
            <div class="card">
                <div class="card-header ">
                    <div class="card-heading">
                        <div class="">
                            <button class="btn btn-info" [routerLink]="['/display']">Back To List</button>
                            >
                        </div>
                        
                        <div class=" ">
                            <button class="btn btn-info" (click)="onResetForm(userForm)">RESET</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="row g-3" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                        <div class="col-6">
                            <select class="form-select" name="department" quired [(ngModel)]="user.department">
                                <option value="">Select Department</option>
                                @for (item of departmentList; track $index)
                                {
                                <option> {{ item }} </option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" [(ngModel)]="user.name" name="name" required
                                placeholder="Name" id="">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" [(ngModel)]="user.mobile" name="mobile" required
                                placeholder="Mobile" id="">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" [(ngModel)]="user.email" name="email" required
                                placeholder="Email" id="">
                        </div>
                        <div class="col-6">
                            <input type="date" class="form-control" [(ngModel)]="user.doj" name="doj" required
                                placeholder="DOJ" id="">
                        </div>
                        <div class="col-6">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" [(ngModel)]="user.gender" value="male"
                                    name="gender" required placeholder="Gender" id="">
                                <label class="form-check-label">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" [(ngModel)]="user.gender" value="Female"
                                    name="gender" required placeholder="Gender" id="">
                                <label class="form-check-label">Female</label>
                            </div>

                        </div>
                        <div class="col-6">
                            <select class="form-select" name="City" equired [(ngModel)]="user.city">
                                <option value="">Select City</option>
                                @for (item of cityList; track $index)
                                {
                                <option> {{ item }} </option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" [(ngModel)]="user.salary" name="salary" required
                                placeholder="Salary" id="">
                        </div>
                        <div class="col-12">
                            <textarea cols="5" class="form-control" rows="3" [(ngModel)]="user.address" name="address"
                                required placeholder="Address"></textarea>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="user.status" name="status"
                                    required id="">
                                <label class="form-check-label"> Active ?</label>
                            </div>
                        </div>
                        <div class="btn ">
                            <button class="btn btn-primary w-100 " type="submit"> {{ editMode ? 'Update': 'Save' }}
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
