<!-- Main Container -->
<div class="container my-5">
    <!-- User List Card -->
    <div class="card">
      <div class="card-header text-white">
        <div class="row">
          <div class="col-6 text-white">
            <h6 class="p-2">User List</h6>
          </div>
          <div class="col-6 text-end">
            <button class="btn btn-info" [routerLink]="['/user']">
              Add User
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="w-100">
            <input class="w-100 mb-2 mt-2 p-1 "
            type="text"
            [(ngModel)]="searchtext"
            (input)="searchUsers()"
            placeholder="Search Users"
          />
                  </div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>NO</th>
              <th>Department</th>
              <th>Name</th>
              <th>Gender</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>DOJ</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let d of filteredUserList | paginate: { itemsPerPage: 7, currentPage: p }
              "
            >
              <td>{{ d.id }}</td>
              <td>{{ d.department }}</td>
              <td>{{ d.name }}</td>
              <td>{{ d.gender }}</td>
              <td>{{ d.mobile }}</td>
              <td>{{ d.email }}</td>
              <td>{{ d.doj }}</td>
              <td>{{ d.status ? 'Active' : 'Inactive' }}</td>
              <td class="text-center">
                <i class="fa fa-edit text-primary" (click)="onEdit(d)"></i> |
                <i class="fa fa-trash text-danger" (click)="onDelete(d.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <!-- Pagination -->
    <div class="pagination-controls">
      <pagination-controls (pageChange)="p = $event" class="float-right">
      </pagination-controls>
    </div>
  </div>
  